{% extends "base.html" %}

{% block content %}

<h2>{{ project.name }}</h2>

<p><strong>Opis:</strong> {{ project.description }}</p>
<p><strong>Utworzono:</strong> {{ project.created_at }}</p>

<h3>Zadania w projekcie</h3>

<ul>
    {% for task in project.tasks.all %}
        <li>
            <a href="{% url 'task_detail' task.pk %}" class="btn btn-outline-secondary btn-sm" style="width: 100ch;">
                {{ task.title }}
            </a>
        </li>
    {% empty %}
        <li>Brak zadań w tym projekcie.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'project_edit' project.pk %}" class="btn btn-outline-primary btn-sm" style="width: 25ch;">Edytuj projekt</a>
    |
    <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-primary btn-sm" style="width: 25ch;">Usuń projekt</a>
    |
    <a href="{% url 'project_list' %}" class="btn btn-outline-primary btn-sm" style="width: 25ch;">Powrót do listy projektów</a>
</p>

{% endblock %}