{% extends "base.html" %}

{% block content %}

<h2>Lista zadań</h2>

<p>
    <a href="{% url 'task_add' %}" class="btn btn-outline-primary btn-sm">Dodaj zadanie</a>
</p>

{% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'task_detail' task.pk %}" class="btn btn-outline-secondary btn-sm" style="width: 100ch;">
                    {{ task.title }}
                </a>
                | status: {{ task.status }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Brak zadań.</p>
{% endif %}

{% endblock %}