{% extends "base.html" %}

{% block content %}

<h2>{{ task.title }}</h2>

<p><strong>Opis:</strong> {{ task.description }}</p>
<p><strong>Projekt:</strong> {{ task.project }}</p>
<p><strong>Termin:</strong> {{ task.due_date }}</p>

<h3>Tagi</h3>
<ul>
    {% for tag in task.tags.all %}
        <li>{{ tag.name }}</li>
    {% empty %}
        <li>Brak tagów</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'task_edit' task.pk %}" class="btn btn-outline-primary btn-sm" style="width: 25ch;">Edytuj zadanie</a>
    |
    <a href="{% url 'task_delete' task.pk %}" class="btn btn-outline-primary btn-sm" style="width: 25ch;">Usuń zadanie</a>
    |
    <a href="{% url 'task_list' %}" class="btn btn-outline-primary btn-sm" style="width: 25ch;">Powrót do listy zadań</a>
</p>

{% endblock %}